.des{
    height: 140px;
    width: 100%;
}
.fun{
    margin-bottom: 10px;
}
.col-md-2{
    margin-right: -104px;
}
.col-md-3{
    margin-right:-90px;
}
.h{
    margin-left: 25px;
    margin-top: 5px;
    color: green;
    font-size: 20px;
}